<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
<mapper namespace="com.gogi.finalproject.mapper.SellerProductMapper">
	 <select id="selectListWithPaging" resultType="com.gogi.finalproject.domain.SellerProductVO">
	
	SELECT /*+ index_desc(product1) */  *
	       FROM product1
	       OFFSET(#{currPage}-1)*#{amount} ROWS
	       FETCH NEXT #{amount} ROWS ONLY
	       
	 </select> 
  
	 <select id="getTotalCount" resultType="int">
	    SELECT /*+ index(product1) */ count(PRODUCT_NUM)
	    FROM product1
	</select>
	
	
	<select id="select" resultType="com.gogi.finalproject.domain.SellerProductVO">
		SELECT * FROM product1 WHERE product_num = #{ProductNum}
	</select>
	
	<insert id="insert">
        INSERT INTO product1(origin, unit, meat_type, meat_part, product_name, product_price, store_id)
        VALUES( #{origin}, #{unit}, #{meatType}, #{meat_part}, #{product_name}, #{product_price}, #{store_id} )
    </insert>


    <insert id="insertSelectKey">
        <selectKey keyProperty="productNum" order="BEFORE" resultType="int">
            SELECT "PRODUCT_SEQ".nextval FROM dual
        </selectKey>

		INSERT INTO product1(product_num, origin, unit, meat_type, meat_part, product_name, product_price, store_id)
        VALUES( #{productNum}, #{origin}, #{unit}, #{meatType}, #{meatPart}, #{productName}, #{productPrice}, #{storeId} )
      
    </insert>
    
    <update id="update">
        UPDATE product1
        SET
            origin = #{origin},
            unit = #{unit},
            meat_type = #{meatType},
            meat_part = #{meatPart},
            product_name = #{productName},
            product_price = #{productPrice},
            store_id = #{storeId}
        WHERE
            product_num = #{productNum}
    </update>

</mapper>