<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
<mapper namespace="com.gogi.finalproject.mapper.SellerProductMapper">
	 <select id="selectListWithPaging" resultType="com.gogi.finalproject.domain.SellerProductVO">
	
	SELECT /*+ index_desc(product1) */  *
	       FROM product1
	       OFFSET(#{currPage}-1)*#{amount} ROWS
	       FETCH NEXT #{amount} ROWS ONLY
	       
	 </select> 
  
	 <select id="getTotalCount" resultType="int">
	    SELECT /*+ index(product1) */ count(PRODUCT_NUM)
	    FROM product1
	</select>
	
	<!-- <insert id="insert">
		INSERT INTO qna1()
	</insert> -->
	
	<select id="select" resultType="com.gogi.finalproject.domain.SellerProductVO">
		SELECT * FROM product1 WHERE product_num = #{ProductNum}
	</select>

</mapper>