
.page{
min-height: 110vh;
display: grid;

grid-template-rows: 5rem 48px 1fr 7%;

grid-template-areas: 
"header  header  header"
" nav     nav     nav  "
" main   main     main "
"footer  footer  footer";
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    background-color: antiquewhite;
}
.main-title{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    border-bottom: 7px solid pink;
}
.wiki-container{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgb(255, 224, 199);
    display: flex;
    width: 90%;
    max-height: 600px;
    height: 80%;

    /* overflow: scroll; */

}
.gogi-kind{
    /* border: 2px solid rebeccapurple; */
    border-right: 1px solid white;
    border-radius: 20px 0px 0px 20px;
    display: flex;

    flex-direction: column;
    min-width: 50%;
    max-width: 50%;
    height: 100%;
    
    flex-wrap: nowrap;
    overflow: scroll;
}
.kind{
    /* border: 2px solid rebeccapurple; */
    background-color: rgba(255, 192, 203, 0.615);
    height: 10%;
    min-height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.kind-button{
    display: none;
}

label[for="cow"]{
    content: "";
    background-image: url(/svg/cow-icon.svg);
    width: 50px;
    height: 50px;

    transition: 0.3s;
}
label[for="cow"]:hover{
    transform: scale(1.1);
}
label[for="cow"]:active{
    transform: scale(1.3);
}
label[for="pig"]{
    content: "";
    background-image: url(/svg/pig-icon.svg);
    width: 50px;
    height: 50px;

    transition: 0.3s;
}
label[for="pig"]:hover{
    transform: scale(1.1);
}
label[for="pig"]:active{
    transform: scale(1.3);
}

.kind-image{
    /* border: 2px solid rebeccapurple; */
    height: 90%;
}
.kind-detail{

    border-radius: 20px;
    height: 100%;

    overflow: scroll;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 고기 종류 css ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.left-container{
    /* border: 2px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.image-container{
    align-self: center;
    /* border: 2px solid rebeccapurple; */
}
.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 2px solid rebeccapurple; */
    border-radius: 10px;
    background-color: rgb(252, 230, 220);
    padding: 10px;
}
.gogi-kind-button{
    
    display: none;
    
}

.button-container label{
    margin: 3px;
    padding-right: 6px;
    border-radius: 20px;
    background-color: rgba(255, 192, 203, 0.611);
    box-shadow: 0 0 2px 1px white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;    
    transition: 0.3s;        
}
.button-container label:hover{
    transform: scale(1.1) translateY(-1px);
}
.button-container label:active{
    transform: scale(1.25);
}
.button-container label::before{
    content: "";

    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(/svg/pork.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 고기 부위 css ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.container{
    /* border: 2px solid rebeccapurple; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    
}
.detail-image{
    /* border: 2px solid rebeccapurple; */

    width: 200px; height: 150px;
    align-self: center;
    margin-top: 10px;

    content: "";
    background-image: url(/img/cache_b638c94d-b28f-4f68-cf8f-8c3a503df572.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.detail-image img{
    display: none;
}
.explain{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 90%;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    align-self: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.detail-desc{
    /* border: 2px solid rebeccapurple; */
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(255, 241, 230);
    padding: 10px;
}
